<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.min.css') }}"
    />
    {% block head %} {% endblock %}
  </head>
  <body style="background-color: sandybrown;">
    {% block body %} {% endblock %}

    <footer>
      <center>
        <small style="text-align: center; color: white; font-family: cursive;"
          >Uditanshu Saxena</small
        >
      </center>
    </footer>
  </body>
</html>
