{% extends 'base.html' %} {% block head %}
<h1 style="text-align: center;">Todo Master</h1>
{% endblock %} {% block body %}
<div class="container" style="width: auto;">
  <table class="table table-dark table-striped">
    <tr>
      <th>Task</th>
      <th>Added</th>
      <th>Action</th>
    </tr>
    {% for task in tasks %}
    <tr>
      <td>{{ task.content }}</td>
      <td>{{task.date_created.date()}}</td>
      <td>
        <a style="font-size: 10px;" href="/delete/{{task.id}}">Delete</a>
        <br />
        <a style="font-size: 10px;" href="/update/{{task.id}}">Update</a>
      </td>
    </tr>
    {% endfor %}
  </table>

  <form action="/" method="POST" class="form-group">
    <input
      type="text"
      name="content"
      id="content"
      class="form-control bg-dark text-light"
      placeholder="enter some task"
    />
    <input
      type="submit"
      value="Add Task"
      class="btn btn-primary btn-block mt-2"
    />
  </form>
</div>
{% endblock %}
